@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

/* Reset and Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Typography */
b {
  font-weight: 600;
}

/* Header Styles */
header {
  background: #234863;
  padding: 1rem 1rem 2em;
}

.heading {
  color: #FFF;
  font-size: 50px;
  font-weight: 800;
  margin: 1rem 1rem 0;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.sub-heading {
  color: #FFF;
  font-size: 0.95rem;
  font-weight: 300;
  margin-top: 0.7rem;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.mid-heading {
  font-size: 85%;
  max-width: 5%;
}

/* Main Content Styles */
main {
  min-height: 75vh;
  padding: 3rem 1rem 1rem;
}

.package-form {
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

/* Input Group Styles */
.input-group {
  color: #555;
  display: flex;
  font-size: 0.95rem;
  justify-content: center;
  margin: 0 auto 1.5rem;
  width: 100%;
}

.commands-txt {
  width: 100%;
}

/* Button Styles */
.copy-btn,
.reset-btn,
.all-btn {
  background: #0e8a7e;
  border: 2px solid #024a43;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  margin-right: 1rem;
  padding: 8px 18px;
  text-transform: uppercase;
}

.copy-btn:hover,
.reset-btn:hover,
.all-btn:hover {
  background: #009688;
}

.all-btn {
  margin-left: 1rem;
}

/* "Jump to Top" Button */
.btn--top {
  background: #0e8a7e;
  border: 2px solid #024a43;
  border-radius: 2px;
  bottom: 10px;
  font-size: 12px;
  height: 30px;
  left: 77.25%;
  max-width: 90px;
  padding: .5px;
  position: fixed;
  right: 18.5%;
  width: 100%;
}

.btn--top > a {
  display: inline-block;
  height: 100%;
  margin: .5px;
  padding: .5px;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

.btn--top:hover {
  background-color: #7dbbf1;
}

/* Package List Styles */
.package-list {
  display: block;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.package-list__item .package-list__label {
  background: #efefef;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 5px 5px 5px 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.package-list__label:hover {
  background: lightyellow;
}

.package-list__label:active {
  outline: 2px solid #36556d;
}

.package-list__label > * {
  margin-right: 5px;
}

.package-list__label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Form and Label Styles */
label {
  border: 0px solid #ccc;
  max-width: 100%;
}

.icoImg {
  width: 16px;
}

/* Footer Styles */
footer {
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
}

footer,
p {
  display: inline-block;
}

footer a {
  color: #0e8a7e;
  letter-spacing: 1px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Automatic dark mode */
@media (prefers-color-scheme: dark) {
  html, img, video, iframe, header, .btn {
    filter: invert(1);
  }
  
  body {
    background-color: #e7e5e4;
  }
}